.appbar {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

.appbar-space {
  border-bottom: 1px solid #ebebeb;
}

.form {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}
.form .group1 {
  clear: both;
}
.form .group1 .group-field {
  float: left;
  display: block;
  min-width: 167px;
  width: 16%;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
}
.form .group1 .group-field .field {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.space {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
  width: 50%;
}

.group2 {
  clear: both;
}
.group2 .group-option1 {
  float: left;
  display: block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
}
.group2 .group-input1 {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
  width: 50%;
}
.group2 .group-input1 .input1 {
  padding-right: 16px;
}
.group2 .group-input1 .input1 .text-input1 {
  width: 100%;
  text-align: left;
}

.group3 {
  clear: both;
}
.group3 .group-option2 {
  float: left;
  display: block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
}
.group3 .group-option2 .option2 {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.group3 .group-input2 {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
  width: 50%;
}
.group3 .group-input2 .input2 {
  padding-right: 16px;
}
.group3 .group-input2 .input2 .text-input2 {
  border-radius: 1px;
  border: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
.group3 .group-input2 .input2 .text-input2 input[type=text] {
  width: 100%;
  text-align: left;
}
.group3 .group-input2 .input2 .text-input2 input[type=text i] {
  padding-block: 1px;
  padding-inline: 2px;
}
.group3 .group-input2 .input2 .text-input2 input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-rti-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
}
.group3 .group-hidden1 {
  float: left;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}
.group3 .group-hidden1 .hidden1 {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.group3 .group-hidden1 .hidden1 .hidden-word1 {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.group4 {
  clear: both;
}
.group4 .group-option3 {
  float: left;
  display: block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
}
.group4 .group-option3 .option3 {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
}
.group4 .group-input3 {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
}
.group4 .group-input3 .input3 {
  padding-right: 16px;
}
.group4 .group-input3 .input3 .text-input3 {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
.group4 .group-input3 .input3 .text-input3 input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-rti-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
}
.group4 .group-input3 .input3 .text-input3 input input[type=text] {
  width: 100%;
  text-align: left;
}
.group4 .group-input3 .input3 .text-input3 input input[type=text i] {
  padding-block: 1px;
  padding-inline: 2px;
}
.group4 .group-hidden2 {
  float: left;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}
@media (max-width: 1056px) {
  .group4 .group-hidden2 .group-hidden2 {
    display: none !important;
  }
}
.group4 .group-hidden2 .hidden2 {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.group4 .group-hidden2 .hidden2 .hidden-word2 {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.group5 {
  clear: both;
}
.group5 .group-option4 {
  float: left;
  display: block;
  min-width: 167px;
  width: 16px;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
}
.group5 .group-option4 .option4 {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.group5 .group-input4 {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
  width: 50%;
}
.group5 .group-input4 .input4 {
  padding-right: 16px;
}
.group5 .group-input4 .input4 .text-input4 {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
.group5 .group-input4 .input4 .text-input4 input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  -webkit-appearance: logical;
     -moz-appearance: logical;
          appearance: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
}
.group5 .group-input4 .input4 .text-input4 input input[type=text] {
  width: 100%;
  text-align: left;
}
.group5 .group-input4 .input4 .text-input4 input input[type=text i] {
  padding-block: 1px;
  padding-inline: 2px;
}
.group5 .group-hidden3 {
  float: left;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}
@media (max-width: 1056px) {
  .group5 .group-hidden3 .group-hidden3 {
    display: none !important;
  }
}
.group5 .group-hidden3 .hidden3 {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.group5 .group-hidden3 .hidden3 .hidden-word3 {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.group6 {
  clear: both;
}
.group6 .space3 {
  float: left;
  display: block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
}
.group6 .group-submit {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
  width: 50%;
  text-align: right;
}
.group6 .group-submit #submit-button {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-rti-ordering: logical;
  margin: 0em;
}
.group6 .group-submit #submit-button input[type=hidden i] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: initial;
  cursor: default;
  display: none !important;
  padding: initial;
  border: initial;
}
.group6 .group-submit .submit-button-action {
  float: right;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  padding: 0 12px;
  margin: 10px 0;
}
.group6 .group-submit .submit-button-action input[type=submit i] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  box-sizing: border-box;
  padding-block: 1px;
  padding-inline: 2px;
}
.group6 .group-submit .submit-buttonj {
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  outline: 0;
}/*# sourceMappingURL=advanced_search.css.map */