.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
.appbar-space{
    border-bottom: 1px solid #ebebeb;
}
.form{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
    .group-field{
        float: left;
        display: block;
        min-width: 167px;
        width: 16%;
        font-size: 16px;
        min-height: 42px;
        font-weight: 500;
        color: #333;
        .field{
            height: 30px;
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.space{
    float: left;
    display: block;
    min-width: 167px;
    min-height: 41px;
    width: 50%;
}
.group-option1{
    float: left;
    display: block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
}
.group-input1{
    float: left;
    display: block;
    min-width: 167px;
    min-height: 41px;
    width: 50%;
    .input1{
        padding-right:16px;
        .text-input1{
            width: 100%;
            text-align: left;
        }
    }
}
.group-option2{
    float: left;
    display: block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    .option2{
        height: 30px;
        display: table-cell;
        vertical-align: middle;
    }
}
.group-input2{
    float: left;
    display: block;
    min-width: 167px;
    min-height: 41px;
    width: 50%;
    .input2{
        padding-right: 16px;
        .text-input2{
            border-radius: 1px;
            border: 1px solid #c0c0c0;
            font-size: 13px;
            height: 25px;
            padding: 1px 8px;
            input[type=text]{
                width: 100%;
                text-align: left;
            }
            input[type="text" i]{
                padding-block: 1px;
                padding-inline: 2px;
            }
        }
    }
}