$color: white;

*{
    background-color: white;
}
#grid{
    background-color: $color;
                display: grid;
                padding: 20px;
                grid-column-gap: 9px;
                grid-row-gap: 10px;
                grid-template-columns: 50px 50px auto;
                text-align: right;
                a{
                    color: black;
                }
            }
.grid_item1{
    color: $color;
    
}

