$color: white;

*{
    background-color: white;
}
#container{
        background-color: $color;
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        margin: 5px;
                a{
                    color: black;
                }
}
.item1{
    color: $color;
    font-size: 12px;
    padding: 2px;
    margin: 0 10px;
}
.item2{
    color: $color;
    font-size: 12px;
    padding: 2px;
    margin: 0 10px;
    
}
h1{
    font-family: Arial;
    font-size: 50px;
    text-align: center;
}
form{
    text-align: center;
    height: 100%;
    width: 100px;
    input [type="text"]{
    width: 740px;
    margin: 2px auto;
    margin: auto;
    border: solid  black;
    height: 1000px;
    page-break-after: avoid;    
    }
    input [type="submit"]{
        position: absolute;
        text-align: center;
        height: 60px;
        width: 100%;
        margin: 100px;
        padding: 19px;
        border: 3px ridge #080100;
    }
}

